:root {
  --base-font-size: 10; /* 10px = 1rem */
  --design-width: 1440; /* design width for the project px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  font-size: calc(var(--base-font-size) * 1px);
  scroll-behavior: smooth;
}

@media screen and (width > 1440px) {
  html {
    font-size: clamp(14px, calc(var(--base-font-size) * (100vw / var(--design-width)) * 0.9, 80px));
  }
}

body {
  /* font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif; */
  /* font-size: 1.4rem; */
  /* display: flex;
  flex-flow: column nowrap; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

/* #region 动画 */
.default-enter-from {
  opacity: 0;
  transform: translateX(-4rem);
}

.default-enter-active {
  transition:
    transform 200ms ease-out,
    opacity 200ms ease-out;
}

.default-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.default-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.default-leave-active {
  transition:
    transform 50ms ease-in,
    opacity 50ms ease-in;
}

.default-leave-to {
  opacity: 0;
  transform: translateX(4rem);
}
/* #endregion */

/* #region  scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.251);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #00000079;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #fff3;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #fff6;
}

.hover-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.251);
  }
}

.scroll-hide {
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar:horizontal {
    height: 0;
  }
}
/* #endregion */
