@import './base.css';

a {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover,
  a.router-link-exact-active {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 768px) {
  .n-drawer:is(.n-drawer--right-placement, n-drawer--left-placement) {
    width: 100% !important;
  }
}
